@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CitybikeApp Backend Server</h1>
</div>
<hr/>
<div>
    <h3>What is this?</h3>
    <ul>
        <li>
            This page is served by the Backend Server of CitybikeApp
            </li>
        <li>
            If you don't see anything being served on the
            <a href="/">Home</a> page you are probably looking at a
            stand-alone version of this backend instead of a deployed
            version that embeds the front-end.
        </li>
        <li>
            This server handles the database access for the frontend.
        </li>
        <li>
            Documentation for the Web API implemented by this server
            is available at the <a href="/swagger/index.html">Web API
            Swagger</a> page.
        </li>
        <li>
            This server also has a small fallback UI (the page you are
            looking at right now). In the future, a data management
            and updating UI may be added.
        </li>
        <li>
            History: originally this server side UI was intended to have
            a bigger role, but the frontend UI worked better than
            expected, so this backend UI wasn't really needed anymore.
        </li>
    </ul>
</div>
