// app global css in SCSS form

.design-note-outer {
  padding: 1em 5em 0 5em;
}
.design-note-inner {
  max-width: 40em;
  background-color: #113811;
  color: #ccddcc;
  font-style: italic;
  font-size: inherit;
  padding: 1em 2em 0.1em 2em;
  border-radius: 25px;
  border: 2px solid #ccddcc;
}
